@import url('https://fonts.googleapis.com/css?family=Arvo|PT+Sans|Reem+Kufi');

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h2, h3, h4 {
  font-family: 'PT+Sans', serif;
}

body {
}


label {
  display: inline-block;
}

p {
  margin:0
}

select {
  font-size: .75em;
}
.middleList{
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

.clickable:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
}

#tableform {
  text-align:center;
}

#newperiodform {
  text-align:center;
}

.periodList {
  width: 15%;
  display:inline;
  text-align: center;
  margin: 0 auto;
}

#forms {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  color: black;
}

#signtitle {
  font-size: 1.75em;
  text-align: center;
}

#userLabel {
  font-size: 1.25em;
  padding-right: 5px;
  text-align: left;
}

ul li {
  display: inline;
}

.areachart {
  text-align: center;
  margin: 0 auto;
  float: right;
}

.linechart {
  text-align: center;
  margin: 0 auto;
  float: right;
}

.recharts-wrapper {
  margin-right: 3%;
  padding-right: 3%;
  display: inline;
}

.table {
  margin: 0 auto;
  width: 100%;
}

#results {
  text-align: center;
  border-radius: 3px;
  width: 66%;
  margin: 0 auto;
  background-color: rgba(100, 100, 100, .1);
}

#chartTitle {
  color: white;
  background-color: blue;
  text-align: center;
  width: 25%;
  margin: 0 0 1% 20%;
}

#navbar {
  text-align: center;
}
