#logo {
  /*background-color: lightgrey;*/
  /*width: 100%;*/
  font-family: 'Sahitya', serif;
  font-size: 2em;
  padding: 0% 2%;
}

#title {
  font-size: 2em;
  padding: 0% 2%;
  font-family: 'Sahitya', serif;
  background-color: lightgrey;
  margin: 2px;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

#title:hover {
  background-color: grey;
  cursor: pointer;
}

#navbar button {
  color: white;
  background-color: grey;
  width: auto;
  font-family: 'Reem Kufi', sans-serif;
  margin-right: 10px;
}

#navbar button:hover {
  background-color: silver;
font-family: 'Reem Kufi', sans-serif;
}

.error {
  color: red;
}
